ul{
    list-style: none;
}

/* HEADER */
div.logo-sony{
    height: 30px;
}

/* MAIN */

/* JUMBOTRON */
div.jumbo div.col-12{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

div.jumbo img{
    height: 64px;
    margin-top: 300px;
}

div.jumbo img,
div.jumbo h1,
div.jumbo p,
div.jumbo button
{
    margin-bottom: 3rem;
}

div.jumbo-games img{
    width: 100%;
    border-radius: 20px;
}

/* PS-NOLIMITS */
section.ps-nolimits span{
    font-weight: 500;
    color: #157DD2;
}

section.ps-nolimits p{
    color: #727272;
}

/* PS-INFO-IMG */
div.ps-info h1{
    margin-top: 150px;
    font-size: 3rem;
}

div.ps-info p{
    font-size: 1.45rem;
    font-weight: 500;
    color: #727272;
}

div.ps-info h1,
div.ps-info p,
div.ps-info button{
    margin-bottom: 2.5rem;
}

/* PS-NEWGAMES */
section.ps-newgames{
    margin-bottom: 4rem;
}

div.games-displayer div.col-12{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

div.games-displayer img{
    height: 10rem;
    margin-top: 100px;
}

div.games-displayer img,
div.games-displayer h1,
div.games-displayer p,
div.games-displayer button
{
    margin-bottom: 3rem;
}

div.games{
    background-color: #1F1F1F;
    color: #FFFFFF;
}

div.games img{
    width: 100%;
    border-radius: 20px;
}

div.games h1,
div.games h2
{
    margin-top: 0rem;
    margin-bottom: 2rem;
}

/* PS-ACCESSORIES */

div.explore-play-four h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

div.explore-play-four p{
    font-size: 1.5rem;
    margin-bottom: 6rem;
}

div.accessories-play-four img{
    width: 100%;
}

div.accessories-play-four{
    margin-bottom: 3rem;
}

/* PS-PLUS */
section.ps-plus{
    background-color: #BEBCBB;
    margin-bottom: 6rem;
}

img.ps-plus-logo{
    padding-top: 3rem;
}

img.ps-plus-logo,
img.ps-plus-banner{
    width: 100%;
}

section.ps-plus button{
    background-color: #D9DADC;
}